.App {
  text-align: center;
  border: 1px solid green;
  margin: 80px 250px 0px 250px;
}

.card {
  width: 100px;
  height: 130px;
  background-color: lightgray !important;
  margin: 0 auto;
  line-height: 130px;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 30px;
}

.left {
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.redded {
  font-size: 30px;
  color: red;
}
